.pane {
   -fx-background-color: #101824;
}

* {
    my-color: CHART_COLOR_2;
}

:subchild0 {
    my-color: CHART_COLOR_2;
}
:subchild1 {
    my-color: CHART_COLOR_1;
}
:subchild2 {
    my-color: CHART_COLOR_3;
}
:subchild3 {
    my-color: CHART_COLOR_4;
}
:subchild4 {
    my-color: CHART_COLOR_5;
}
:subchild5 {
    my-color: CHART_COLOR_6;
}
:subchild6 {
    my-color: CHART_COLOR_7;
}
:subchild7 {
    my-color: CHART_COLOR_8;
}


.tree-cell:filled:subchild0,
.tree-cell:filled:subchild1,
.tree-cell:filled:subchild2,
.tree-cell:filled:subchild3,
.tree-cell:filled:subchild4,
.tree-cell:filled:subchild5,
.tree-cell:filled:subchild6,
.tree-cell:filled:subchild7 {
    -fx-background-color: my-color;
}

.waypoint {
    -fx-stroke: #101824;
    -fx-stroke-width: 2px;
    -fx-cursor: hand;
    -fx-fill: my-color;
}

.waypoint:selected {
    -fx-stroke: rgb(255, 241, 173);
}

.path {
    -fx-stroke-line-cap: butt;
    -fx-fill: null;
    -fx-cursor: hand;
    -fx-stroke: derive(my-color, -25%);
}

.robotOutline {
    -fx-fill: null;
    -fx-stroke: "lightgray";
}

.tank {
    -fx-opacity: 0.7;
}

.tangent {
    -fx-stroke: cyan;
    -fx-cursor: hand;
}

