.root {
    -fx-background-color: #101824;
}

Circle {
    -fx-fill: orange;
    -fx-stroke: #101824;
    -fx-stroke-width: 2px;
    -fx-cursor: hand;
}

Circle:selected {
    -fx-fill: rgb(255, 241, 173);
}

CubicCurve {
    -fx-stroke: derive(orange, -25%);
    -fx-stroke-width: 4px;
    -fx-stroke-line-cap: round;
    -fx-fill: transparent;
    -fx-cursor: hand;
}

Line {
    -fx-stroke: cyan;
    -fx-stroke-width: 6px;
    -fx-cursor: hand;
}
