.root {
    -fx-background-color: #101824;
}

Circle {
    -fx-stroke: #101824;
    -fx-stroke-width: 2px;
    -fx-cursor: hand;
}

Circle:selected {
    -fx-fill: rgb(255, 241, 173);
}

Circle:begin {
    -fx-stroke-width: 4px;
    -fx-stroke: #2abf3b;
}
Circle:end {
    -fx-stroke-width: 4px;
    -fx-stroke: red;
}

CubicCurve {
    -fx-stroke-line-cap: round;
    -fx-fill: null;
    -fx-cursor: hand;
}

Line {
    -fx-stroke: cyan;
    -fx-cursor: hand;
}
:subchild0 {
    -fx-background-color: #fba71b;
}
:subchild1 {
    -fx-background-color: #f3622d;
}
:subchild2 {
    -fx-background-color: #57b757;
}
:subchild3 {
    -fx-background-color: #41a9c9;
}
:subchild4 {
    -fx-background-color: #4258c9;
}
:subchild5 {
    -fx-background-color: #9a42c8;
}
:subchild6 {
    -fx-background-color: #c84164;
}
:subchild7 {
    -fx-background-color: #888888;
}
